
*.log
npm-debug.log*


node_modules/


dist/
build/
dist-ssr/


.env
backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.npm/


.vscode/
!.vscode/extensions.json
.idea/



*.code-workspace


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



*.tgz
.pnp/
.pnp.js

coverage/
.nyc_output/

